div.faredioFormSec {
	padding: 10px;
	width: 260px;
	position: relative;
	box-sizing: border-box;
}

div.faredioFormBox {
	border: 1px solid #aaaaaa;
	width:240px;
	height: 30px;
	padding: 0px;
	margin: 5px;
	margin-bottom: 10px;
	font-size: 11pt;
}

div.faredioFormTitle {
	display: inline-block;
	float: left;
	margin: 0px;
	padding: 3px;
	width: 70px;
	height: 100%;
	box-sizing: border-box;
	background-color: #3377ff;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}

span.faredioFormTitle {
	vertical-align: middle;
}

div.faredioFormSelect {
	display: inline-block;
	margin: 0px;
	padding: 3px;
	box-sizing: border-box;
	width: 170px;
	height: 100%;
	background-color: #ffffff;
}

div.faredioFormSelTop {
	display: inline;
}

div.faredioFormPulldown {
	position: relative;
	border: 1px solid #aaaaaa;
	background-color: #ffffff;
	padding: 10px;
	width: 600px;
	display: none;
}

input.faredioFormStaName {
	border-width: 0px;
	vertical-align: middle;
	width: 100%;
	box-sizing: border-box;
	margin: 3px;
	cursor: pointer;
	background-color: #ffffff;
}

h2.faredioFormLineName {
	font-size: 11pt;
	font-weight: bold;
	margin: 0px;
	padding: 5px;
	border-left: 3px solid #aaaaaa;
}

div.faredioFormStaList {
	width: 100%;
	padding: 3px;
	margin: 3px 3px 15px 3px;
	box-sizing: border-box;
}

a.faredioFormListItem {
	display: inline-block;
	margin: 0px;
	padding: 1px 5px;
}

div.faredioFormClose {
	text-align: center;
	border-top: 1px solid #aaaaaa;
	margin-top: 20px;
	padding: 7px 0px;
}

div.faredioFormSubmit {
	text-align: center;
	margin: 10px 0px 0px 0px;
	border-top: 1px dotted #aaaaaa;
	padding: 10px;
}

input.faredioFormSubmit {
	border: 1px solid #3377ff;
	color: #3377ff;
	font-weight: bold;
	display: inline-block;
	width: 100px;
	height: 30px;
	background-color: #ffffff;
}